<header id="header">
  <%- include('navbar') %>

  <button
    class="icon-btn"
    type="button"
    id="openSidebarBtn"
    aria-label="Open sidebar"
  >
    <%- include('../icons/menu') %>
  </button>

  <button class="icon-btn" id="toggleThemeBtn">
    <%- include('../icons/sun', { id: 'sunIcon' }) %> <%-
    include('../icons/moon', { id: 'moonIcon' }) %>
  </button>
</header>

<aside id="sidebar">
  <%- include('navbar') %>

  <button type="button" id="closeSidebarBtn" aria-label="Close sidebar">
    <%- include('../icons/close') %>
  </button>
</aside>
