<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title><%= error %></title>
    <link rel="stylesheet" href="/styles/error.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1 class="hero-title"><%= error %></h1>
      <p><%= message %></p>
      <a class="link" href="/">Go back to home</a>
    </main>
  </body>
</html>
