<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title><%= file.name %></title>
    <link rel="stylesheet" href="/styles/file.css" />
    <script type="module" src="/scripts/file.js"></script>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <main>
      <h1 class="hero-title"><%- include('icons/file') %> <%= file.name %></h1>

      <div class="actions">
        <a
          id="downloadLink"
          href="/file/<%= file.id %>/download"
          aria-label="Download"
          class="icon-btn"
        >
          <%- include('icons/download') %>
        </a>
        <button
          id="deleteDialogButton"
          aria-label="Delete"
          class="icon-btn icon-btn--danger"
        >
          <%- include('icons/trash') %>
        </button>
      </div>

      <section class="file-details">
        <p>
          <strong>Uploaded on:</strong>
          <%= file.uploadTime %>
        </p>
        <p>
          <strong>Size:</strong>
          <% 
          const size = file.size / 1024;
          if (size < 1024) { 
          %>
          <%= size.toFixed(2) %>
          KB
          <% } else { %>
          <%= (size / 1024).toFixed(2) %>
          MB
          <% } %>
        </p>
        <p>
          <strong>MIME type:</strong>
          <%= file.type %>
        </p>
      </section>
    </main>
    <%- include('partials/delete-dialog', { isFolder: false }) %>
  </body>
</html>
