<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title><%= file.name %></title>
    <link rel="stylesheet" href="/styles/file.css" />
    <script type="module" src="/scripts/file.js"></script>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <main>
      <h1 class="hero-title"><%= file.name %></h1>

      <div class="actions">
        <button
          id="deleteDialogButton"
          aria-label="Delete"
          class="icon-btn icon-btn--danger"
        >
          <%- include('icons/trash') %>
        </button>
        <a
          href="/file/<%= file.id %>/download"
          aria-label="Download"
          class="icon-btn"
        >
          <%- include('icons/download') %>
        </a>
      </div>

      <section class="file-details">
        <p>
          <strong>Uploaded on:</strong>
          <%= file.uploadTime %>
        </p>
        <p>
          <strong>Size:</strong>
          <% 
          const size = file.size / 1024;
          if (size < 1024) { 
          %>
          <%= size.toFixed(2) %>
          KB
          <% } else { %>
          <%= (size / 1024).toFixed(2) %>
          MB
          <% } %>
        </p>
        <p>
          <strong>MIME type:</strong>
          <%= file.type %>
        </p>
      </section>
    </main>

    <dialog class="dialog" id="deleteDialog">
      <div class="dialog-content">
        <h2>Confirm deletion</h2>
        <p>The file cannot be recovered</p>
        <form action="/file/<%= file.id %>/delete" method="post">
          <button class="button button--danger">Confirm</button>
        </form>
      </div>
      <button
        type="button"
        class="close-btn"
        aria-label="Close dialog"
        id="closeDeleteDialogButton"
      >
        <%- include('icons/close') %>
      </button>
    </dialog>
  </body>
</html>
