<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title><%= folder.name %></title>
    <link rel="stylesheet" href="/styles/folder.css" />
    <script type="module" src="/scripts/folder.js"></script>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <main>
      <h1><%= folder.name %></h1>
      <%- include('partials/actions', { delete: true }) %>
      <%- include('partials/fileList', { folders: children }) %>
    </main>

    <%- include('partials/new-folder-dialog', { isInParent: true }) %>
    <%- include('partials/upload-file-dialog', { isInParent: true }) %>
    <%- include('partials/delete-dialog', { isFolder: true }) %>
  </body>
</html>
