<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <script type="module" src="/scripts/home.js"></script>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main data-isLoggedIn="<%= locals.user ? 'true' : 'false' %>">
      <h1 class="hero-title"><%= locals.user ? 'Files' : 'File Uploader' %></h1>

      <% if (locals.user) { %>
      <div class="actions">
        <button class="button button--secondary">
          <%- include('icons/upload') %> Upload a new file
        </button>
        <button class="button button--secondary" id="newFolderDialogButton">
          <%- include('icons/add') %> Add a new folder
        </button>
      </div>
      <%- include('partials/fileList') %>

      <dialog id="newFolderDialog" class="dialog">
        <div class="dialog-content">
          <h2 class="title">Add a new folder</h2>
          <form class="form" action="/folder" method="post" novalidate>
            <div class="form-field">
              <label for="name">Folder name</label>
              <input
                type="text"
                id="name"
                name="name"
                required
                placeholder="My New Folder"
              />
              <span class="feedback"></span>
            </div>
            <button class="button">Create</button>
          </form>
          <button
            type="button"
            class="close-btn"
            aria-label="Close dialog"
            id="closeNewFolderDialogButton"
          >
            <%- include('icons/close') %>
          </button>
        </div>
      </dialog>

      <% } else { %>
      <p class="text">Securely store and organize your files in the cloud.</p>
      <a class="button" href="/sign-up">
        <%- include('icons/register') %> Sign up now
      </a>
      <% } %>
    </main>
  </body>
</html>
