<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <h1>
        Welcome
        <%= locals.user?.username || 'to File Uploader' %>
      </h1>

      <% if (locals.user) { %>
      <section>
        <h2>Submit a file</h2>
        <%- include('partials/errorList', { errors: locals.fileErrors }) %>
        <form action="/file" method="post" enctype="multipart/form-data">
          <input type="file" name="file" required />
          <button type="submit">Upload</button>
        </form>
      </section>

      <section>
        <h2>Create a folder</h2>
        <%- include('partials/errorList', { errors: locals.folderErrors }) %>
        <form action="/folder" method="post">
          <input type="text" name="name" placeholder="Folder name" required />
          <button type="submit">Create</button>
        </form>
      </section>

      <section>
        <h2>Files</h2>

        <% if (!locals.files || locals.files.length === 0) { %>
        <p>You don't have files yet.</p>
        <% } %>

        <% if (locals.files) { %>
        <ul>
          <% for (const file of files) { %>
          <li class="file">
            <a href="/file/<%= file.id %>"><%= file.name %></a>
          </li>
          <% } %>
        </ul>
        <% } %>

        <% if (locals.folders) { %>
        <ul>
          <% for (const folder of folders) { %>
          <li class="folder">
            <a href="/folder/<%= folder.id %>"><%= folder.name %></a>
          </li>
          <% } %>
        </ul>
        <% } %>
      </section>
      <% } %>
    </main>
  </body>
</html>
