<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title><%= locals.user ? 'Files' : 'File Uploader' %></title>
    <link rel="stylesheet" href="/styles/home.css" />

    <% if (locals.user) { %>
    <script type="module" src="/scripts/home.js"></script>
    <% } %>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main data-isLoggedIn="<%= locals.user ? 'true' : 'false' %>">
      <h1 class="hero-title"><%= locals.user ? 'Files' : 'File Uploader' %></h1>

      <% if (locals.user) { %>
      <%- include('partials/actions', { delete: false }) %>
      <%- include('partials/fileList') %>
      <%- include('partials/new-folder-dialog', { isInParent: false }) %>
      <%- include('partials/upload-file-dialog', { isInParent: false }) %>
      <% } else { %>
      <p class="text">Securely store and organize your files in the cloud.</p>
      <a class="button" href="/sign-up">
        <%- include('icons/register') %> Sign up now
      </a>
      <% } %>
    </main>
  </body>
</html>
