<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <script type="module" src="/scripts/home.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>

    <main data-isLoggedIn="<%= locals.user ? 'true' : 'false' %>">
      <h1 class="hero-title"><%= locals.user ? 'Files' : 'File Uploader' %></h1>

      <% if (locals.user) { %>
      <%- include('partials/fileList') %>

      <div class="section-group">
        <section>
          <h2 class="subtitle">Submit a file</h2>
          <%- include('partials/errorList', { errors: locals.fileErrors }) %>
          <button class="file-button">
            <img
              width="512"
              height="512"
              src="/assets/file.webp"
              alt="Select a file"
            />
          </button>
          <form
            id="fileForm"
            action="/file"
            method="post"
            enctype="multipart/form-data"
            hidden
          >
            <input type="file" name="file" required />
          </form>
          <button type="submit" form="fileForm" class="button">
            <%- include('icons/upload') %> Upload
          </button>
        </section>

        <section>
          <h2 class="subtitle">Create a folder</h2>
          <%- include('partials/errorList', { errors: locals.folderErrors }) %>
          <form
            id="folderForm"
            class="form"
            action="/folder"
            method="post"
            novalidate
          >
            <div class="form-field">
              <label for="name">Folder name</label>
              <input
                id="name"
                type="text"
                name="name"
                placeholder="Enter a name for your folder"
                required
              />
              <span class="feedback"></span>
            </div>
          </form>
          <button form="folderForm" type="submit" class="button">
            <%- include('icons/upload') %> Create
          </button>
        </section>
      </div>

      <% } else { %>
      <p class="text">Securely store and organize your files in the cloud.</p>
      <a class="button" href="/sign-up">
        <%- include('icons/register') %> Sign up now
      </a>
      <% } %>
    </main>
  </body>
</html>
